#include <zephyr/dt-bindings/led/led.h>

/ {
    aliases {
        led0 = &led0;
        led-strip = &led_strip;
    };
    leds {
        compatible = "gpio-leds";
        led0: led_0 {
            gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
            label = "LED 0";
        };
    };
};

&wifi {
	status = "okay";
};

&spi2 {
    led_strip: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";

        /* SPI */
        reg = <0>; /* ignored, but necessary for SPI bindings */
        spi-max-frequency = <6750000>;
        frame-format = <32768>; /* SPI_FRAME_FORMAT_TI */

        /* WS2812 */
        chain-length = <3>; /* arbitrary; change at will */
        spi-one-frame = <0xF8>;
        spi-zero-frame = <0xE0>;
        color-mapping = <LED_COLOR_ID_GREEN
                 LED_COLOR_ID_RED
                 LED_COLOR_ID_BLUE>;
    };
};

&pinctrl {
    spim2_default: spim2_default {
        group2 {
            pinmux = <SPIM2_MOSI_GPIO8>;
        };
    };
};
